nav {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

nav > ul {
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #3c84d8;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Link */
li > * {
  color: #ffffff;
  font-size: 25px;
  text-align: center;
}

.sidebar-container {
  width: 40%;
  background: #75b2fa;
  height: 100%;
}
